.shopContainer {
  display: flex;
  flex-direction: column;
  max-width: 61vw;
  gap: 1rem;
}

.shopContainer h2 {
  font-size: 1.25rem;
}

.cardContainer {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .cardContainer {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .cardContainer {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .cardContainer {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .shopContainer h2 {
    font-size: 1.5rem;
    align-self: center;
  }

  .cardContainer {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
