.checkoutContainer {
  display: flex;
  justify-content: space-between;
}

.productSection {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  min-width: 70%;
}

.summaryContainer {
  grid-column: 2/3;
}
