.checkoutContainer {
  min-width: 80vw;
  display: flex;
  gap: 1.5rem;
}

.productSection {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  min-width: 70%;
}

.summaryContainer {
  grid-column: 2/3;
}
