.quantityInput {
  max-width: 2.25rem;
  padding-left: 0.2rem;
}

.quantityLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.quantityButton {
  padding: 0 0.4rem 0 0.4rem;
}

.quantityButton:hover {
  cursor: pointer;
  background-color: #d1d5db;
  border-radius: 0.2rem;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: number;
}
