.cardContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  border: 2px solid #e5e7eb;
  padding: 1.5rem;
  color: #0a2540;
}

.image {
  max-height: 12rem;
  min-height: 12rem;
  justify-self: center;
}

.button {
  background-color: #f59e0b;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  color: #0a2540;
}

.button:hover {
  background-color: #fbbf24;
  cursor: pointer;
}
