.homeHeader {
  color: #2b2b2b;
  font-size: 4rem;
}

.homeContainer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: grid;
  gap: 1rem;
  max-width: 70vw;
  align-self: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
