header {
  color: #ffffff;
  background-color: #0a2540;
  min-width: 100vw;
  max-height: 15vh;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
}

.link {
  color: #ffffff;
  font-family: "Lora";
  text-decoration: none;
}

.link:hover {
  color: #f59e0b;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  background-color: #f5f7fa;
}

footer {
  background-color: #0a2540;
  color: #e6edf5;
  display: flex;
  min-width: 100vw;
  max-height: 20vh;
  min-height: 20vh;
  justify-content: space-evenly;
  padding: 2rem;
}

footer h2 {
  font-size: 1.25rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.communicationDiv {
  display: flex;
  gap: 0.2rem;
}

.allLinks {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.headerLinkDiv {
  display: flex;
  gap: 0.2rem;
}

.footerLinkDiv {
  display: flex;
  gap: 0.5rem;
  justify-items: center;
}
