header {
  color: #ffffff;
  background-color: #0f3460;
  min-width: 100vw;
  min-height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
}

.link {
  color: #e6edf5;
  font-family: "Lora";
}

.link:hover {
  color: #f59e0b;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #f5f7fa;
}

footer {
  background-color: #0f3460;
  color: #e6edf5;
  min-width: 100vw;
  min-height: 10rem;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.all-links {
  display: flex;
  flex-direction: column;
}
