header {
  background-color: #e7e1d6;
  color: #2b2b2b;
  min-width: 100vw;
  min-height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
}

.link {
  color: #5c5c5c;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  /* align-items: center; */
  margin: 2rem;
  min-width: 90vw;
  min-height: 70vh;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  /* background-color: #e7e1d6; */
}

footer {
  background-color: #e7e1d6;
  min-width: 100vw;
  min-height: 10rem;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.all-links {
  display: flex;
  flex-direction: column;
}
