*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Work Sans";
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
  font-family: "Lora";
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  font-family: "Lora";
}
@font-face {
  font-family: "Work Sans";
  src:
    url("./assets/fonts/WorkSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src:
    url("./assets/fonts/Lora-Regular.woff2") format("woff2"),
    url("./assets/fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
